.projectCard {
    overflow-y: auto;
    width: 100%;
    display: flex;
    
    img {
        width: 200px;
    }

    .projectInfo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;

        a {
            text-decoration: underline;
        }
    }

    .link {
        cursor: pointer;

    }



}