.content {
	height: 100%;
	width: 100%;
	opacity: 1;
	animation: 0.5s ease 0s 1 fadeIn;
	transition: opacity 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    //border: solid 1px white;
    padding: 10px;
	overflow-y: auto;


	&.half {
		width: 43%;
	}

	h3 {
		font-size: 2.2em;
		font-weight: bold;
	}

}

.hidden {
	opacity: 0 !important;
	transition: opacity ease-in 0.5s;
	transition-delay: 1s;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hiddenInstant {
	opacity: 0 !important;
	transition: opacity 0.5s;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


//Responsive
@media only screen and (max-width: 760px) {
	.content {
		&.half {
			width: 100%;
		}
	}
}



@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}